<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <!--<div class="list-group-item list-group-item-home">-->
                <!--<h1>Welcome user, <span class="user"></span></h1>-->
            <!--</div>-->
            <div id="map-canvas" style="height:0;width:0;"></div>
            <div class="list-group-item list-group-item-home">
                <div >
                    <i class="fa fa-gamepad feature-icon text-danger" id="tracking" data-status="off"></i>
                </div>
                <div>
                    <h3 class="home-heading tracking-status">Start Tracking...</h3>
                    <span id="message">Tick the start tracking icon button above to track this bus.</span>
                    <br><br>
                    <table class="table table-inverse w3-card-2">
                        <tr>
                            <th width="50%"></th>
                            <td style="text-align:left !important;color:#007aff;">
                                <div class="btn-group pull-right">
                                    <a ui-turn-on="myDropdowns{{idx}}" class="btn">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul
                                            ui-shared-state="myDropdowns{{idx}}"
                                            class="dropdown-menu"
                                            ui-outer-click="Ui.turnOff('myDropdowns' + idx)"
                                            ui-outer-click-if="Ui.active('myDropdowns' + idx)"
                                            role="menu"
                                            ui-show="myDropdowns{{idx}}"
                                            ui-turn-off="myDropdowns{{idx}}">
                                        <li><a></a></li>
                                        <li><a style="color:#007aff"  ui-turn-on="changesourcedestination" id="testing">Change source and destination</a></li>
                                        <li><a style="color:#007aff"  ui-turn-on="updatebusstop">Update Next Bus Stop</a></li>
                                        <li><a style="color:#007aff"  ui-turn-on="updateavailableseat">Update Available Seat</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="50%">Origin:</th>
                            <td style="text-align:left !important;"><span id="origin"></span></td>
                        </tr>
                        <tr>
                            <th width="50%">Destination:</th>
                            <td style="text-align:left !important;"><span id="destination"></span></td>
                        </tr>
                        <tr>
                            <th width="50%">Next Bus Stop:</th>
                            <td style="text-align:left !important;"><span id="nextBusStop">NaN</span></td>
                        </tr>
                        <tr>
                            <th width="50%">Passenger Capacity:</th>
                            <td style="text-align:left !important;"><span id="passengerCapacity"></span></td>
                        </tr>
                        <tr>
                            <th width="50%">Available Seat:</th>
                            <td style="text-align:left !important;"><span id="availableSeat"></span></td>
                        </tr>
                        <tr>
                            <th width="50%">Latitude:</th>
                            <td style="text-align:left !important;"><span id="latitude">latitude</span></td>
                        </tr>
                        <tr>
                            <th width="50%">Longitude:</th>
                            <td style="text-align:left !important;"><span id="longitude">longitude</span></td>
                        </tr>
                        <tr>
                            <th width="50%">Speed:</th>
                            <td style="text-align:left !important;"><span id="speed">speed</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div ng-include="'/view/bus/update-available-seat.jsp'"></div>
    <div ng-include="'/view/bus/update-bus-stop.jsp'"></div>
    <div ng-include="'/view/bus/change-source-destination.jsp'"></div>
    <div ng-include="'/view/bus/change-password.jsp'"></div>
</div>