* {
  box-sizing: border-box;
}

.a-s--wrapper {
  padding: 20px;
}
.a-s--wrapper:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 2px;
}

.a-s--group-by-date {
  padding: 0 0 20px;
}
.a-s--group-by-date .a-s--title {
  position: relative;
  margin-bottom: 20px;
  padding-left: 45px;
}
.a-s--group-by-date .a-s--title h3 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: black;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 10px 0 30px;
  color:white;
  background-color: #343434;
}
.a-s--group-by-date .a-s--title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #6e6e6e;
}
.a-s--group-by-date .a-s--title:after {
  width: 10px;
  height: 10px;
  content: '';
  position: absolute;
  top: 50%;
  left: 54px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #343434;
}
.a-s--group-by-date .a-s--item {
  position: relative;
  margin-bottom: 10px;
}
.a-s--group-by-date .a-s--item:before, .a-s--group-by-date .a-s--item:after {
  content: '';
  clear: both;
  display: table;
}
.a-s--group-by-date .a-s--item .a-s--time {
  width: 20px;
  float: left;
  padding-right: 23px;
  line-height: 44px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.a-s--group-by-date .a-s--item .a-s--icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  text-align: center;
  background-color: #343434;
  border: 2px solid #fff;
  border-radius: 50%;
}
.a-s--group-by-date .a-s--item .a-s--icon .fa {
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
}
.a-s--group-by-date .a-s--item .a-s--body {
  margin-left: 15px;
  padding: 10px 10px 10px 30px;
  min-height: 44px;
  word-break: break-all;
  color: black;
  border-bottom: 2px solid #2e2e2d;
}
.a-s--group-by-date .a-s--item .a-s--body h4 {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 5px;
}
.a-s--group-by-date .a-s--item .a-s--body p {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin: 0;
}

