@keyframes button-twitter-animation {
  from {
    top: 50%;
    height: 10em;
    width: 10em;
  }
  to {
    top: -3em;
    height: 6em;
    width: 6em;
  }
}
@keyframes login-fadein {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes login-border-animation {
  to {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0;
  }
}
* {
  font-size: 10px;
}

.main {
  position: relative;
  margin-top: 20vh;
}

.login-fieldset-field, .login-fieldset-submit {
  min-width: 250px;
  font-size: 1.6em;
  margin: 0.8em auto;
  padding: 0.8em;
  width: 80%;
  box-sizing: border-box;
}

.login {
  width: 500px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  border: 0;
  border-radius: 5px;
}

.login-sides {
  width: 100%;
  height:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 5px;
}

.login-sides line {
  fill: none;
  stroke: #55acee;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  stroke-linecap: round;
  stroke-width: 5;
  animation: login-border-animation 0.5s forwards;
}
.login-sides line.first {
  animation-delay: 0.5s;
}
.login-sides line.second {
  animation-delay: 0.75s;
}

.login-sides line.third {
  animation-delay: 1s;
}

.login-fieldset {
  animation: login-fadein 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-bottom:5em;
  padding-top:5em;
  opacity: 0;
}
.login-fieldset-field {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 0;
  border: 1px solid #f2f2f2;
}

.login-fieldset-submit {
  background-color: #55acee;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
  border-radius: 3px;
}

.button-twitter {
  animation: button-twitter-animation 0.5s forwards;
s  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #55acee;
  margin: auto;
  z-index: 1;
  transition: box-shadow 0.5s;
  border: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  top: auto;
  height: 6em;
  width: 6em;
}
.button-twitter:hover {
  box-shadow: 0px 1px 1px 1px #ccc;
}
